@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --textColor: #333;
    --subTextColor: #555;
    --linkColor: #bbd6f5;
    --borderColor: #e0e0e0;
    --bgColor: #cfe6f3; 
    --highlightColor: #de2ca0;
    --fontFamily: 'Poppins', sans-serif; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}

body {
    background-color: var(--bgColor);
    color: var(--textColor);
    line-height: 1.6;
    padding: 20px;
}

a {
    color: #2c5c94;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container--main, footer {
    max-width: 900px;
    margin: auto;
    /* background: #a3cfcc; */
    background: #c2edea;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

footer{
    margin-top: 20px;
}

.section--page {
    padding: 20px 0; /* Adjust this value to reduce space */
}

#profile-pic {
    border-radius: 50%;
    border: 4px solid #f7f3f3;
    width: 172px; /* Adjust the width as desired */
    height: 172px; /* Adjust the height as desired */
    box-shadow: 0 4px 8px rgba(249, 248, 248, 0.2);
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.navbar {
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.navbar-nav .nav-link {
    padding: 10px 15px;
    border-radius: 4px;
    margin: 0 10px; /* Increase spacing between navbar items */
    transition: background-color 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
    background-color: var(--borderColor);
}

.line-break {
    background-color: var(--borderColor);
    height: 2px;
    margin: 20px 0;
}


@keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 710px;
    }
}

@keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 80%);
    }
    to {
      border-right-color: transparent;
    }
}

.bg-1{
    background-color: #cbe6f1;
    color: #050505;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer#contact {
    background-color: var(--bgColor);
    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--borderColor);
    margin-top: 40px;
}

.flag-counter {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .section--page {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    #wrapper--hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .navbar {
        flex-direction: column;
    }
    
    .navbar-nav .nav-link {
        margin: 5px 0;
    }
}
